<div class="container">
  <div class="about">
    <h1>About</h1>
    <div class="row">
      <div class="col-md-7">
        <div class="speech-bubble">
          <p>ようこそ！いらっしゃいませ！！<br>
            ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召しいただけるよう、<br>
            様々なバリエーションをご用意しております。<br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文くださいね！</p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="image-container">
          <%= image_tag("nagano_san.png", alt: "ながのさん", width: "500", height: "550") %>
          <div class="caption">ながのさん</div>
        </div>
      </div>
    </div>
  </div>
</div>
