<div>
<table class="table table-hover table-borderless">
<tr>
  <th>ジャンル検索</th>
</tr>
 <% genres.each do |genre| %>
 <tr class="table-link" data-href="/genres/<%= genre.id %>">
  <td><%= genre.genre_name %></td>
</tr>
<% end %>
</table>
</div>
<script>
 $(document).on("turbolinks:load", function() {
  $(".table-link").on('click', function() {
      window.location = $(this).data("href");
  });
});
</script>
