@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';


header {
    background-color: #FFC7AF;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

footer {
    background-color: #FFC7AF;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-color: #FFFFE0;
}

