<div class="mb-8 text-center">
  <span class="text-3xl font-bold">
  <h1>商品一覧</h1>
  </span>
</div>
<div class="flex flex-wrap justify-center md:justify-start px-5">
  <% @items.each do |item| %>
  <div class="item-box">
      <%= image_tag item.get_image %>
      
      <span class="item_name"><%=link_to "#{item.name}", item_path(item.id) %></span>
       <span class="price"><%= price %></span>
    </div>
  </div>
  <% end %>
</div>

