<div class="container">
    <div class="row">
       <div class="col-md-10 col-md-offset-1">
         <p class="text-center">
        <table>
          <tr>
           <th><%= image_tag @item.get_image(300,300) %></th> 
           <td>
             <h2><%= @item.item_name %></h2><br>
             <h4>¥<%= @item.price %>(税込み)</h4><br>
             <h5><%= @item.item_explanation %></h5>
           </td>
          </tr>
        </table>
       </div>
    </div>
</div>

